<style>

table {
  width: auto;
  border-spacing: 0;
  font-size: 14pt;
}

table th {
  color: #fff;
  padding: 8px 15px;
  background: #258;
  background:-moz-linear-gradient(rgba(34,85,136,0.7), rgba(34,85,136,0.9) 50%);
  background:-webkit-gradient(linear, 100% 0%, 100% 50%, from(rgba(34,85,136,0.7)), to(rgba(34,85,136,0.9)));
  font-weight: bold;
  border-left:1px solid #258;
  border-top:1px solid #258;
  border-bottom:1px solid #258;
  line-height: 120%;
  text-align: center;
  text-shadow:0 -1px 0 rgba(34,85,136,0.9);
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}

table th:last-child {
  border-radius:0 5px 0 0;
  border-right:1px solid #aaa;
}

table tr td {
  padding: 8px 15px;
  border-bottom: 1px solid #84b2e0;
  border-left: 1px solid #84b2e0;
  text-align: left;
}

table tr td:last-child {
  border-right: 1px solid #aaa;
}

table tr {
  background: #fff;
}

table tr:nth-child(2n+1) {
  background: #f1f6fc;
}


</style>



<h1><%= link_to @room.name, edit_room_path(@room) %></h1>

<br />
<br />
<%= link_to '新規', sec_new_kifu_path(@room) %>
<table>
  <thead>
    <tr>
      <th width=100px>対局日</th>
      <th width=150px>黒番</th>
      <th width=150px>白番</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @room.kifus.sort_by { |kifu| kifu.updated_at.to_i }.each do |kifu| %>
      <% kifu.sgfdata =~ /DT\[.*(\d\d\d\d)[-\/](\d\d)[-\/](\d\d).*\]/; dt = ($1 && $2 && $3) ? "#{$1}/#{$2}/#{$3}" : "" %>
      <% kifu.sgfdata =~ /PB\[([^\]]*)\]/; pb = $1.to_s %>
      <% kifu.sgfdata =~ /PW\[([^\]]*)\]/; pw = $1.to_s %>
      <tr>
        <td><%= dt %></td>
        <td><%= pb %></td>
        <td><%= pw %></td>
        <td><%= link_to '表示', sec_kifu_path(kifu) %></td>
        <td><%= link_to '削除', sec_kifu_path(kifu), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<br />
<br />
<%= form_tag({controller: :kifus, action: :create, method: "post" }, {multipart: true}) do %>
Sgf アップロード:<br />
<%= file_field_tag 'sgffile' %>
<%= hidden_field_tag :rid,  @room.id  %>
<%= hidden_field_tag :rtok, @room.key %>
<%= submit_tag "Upload" %>
<% end %>

