<%= javascript_include_tag "goban" %>

<h1>Listing kifus</h1>

<%= form_tag({action: :create, method: "post" }, {multipart: true}) do %>

<%= file_field_tag 'sgffile' %>
<%= submit_tag "Upload" %>
<% end %>

<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @kifus.each do |kifu| %>
      <% kifu.sgfdata =~ /DT\[.*(\d\d\d\d-\d\d-\d\d|\d\d\d\d\/\d\d\/\d\d).*\]/; dt = $1.to_s %>
      <% kifu.sgfdata =~ /PB\[([^\]]*)\]/; pb = $1.to_s %>
      <% kifu.sgfdata =~ /PW\[([^\]]*)\]/; pw = $1.to_s %>
      <tr>
        <td><%= "#{dt} [#{pb}] vs [#{pw}]" %></td>
        <td><%= link_to 'Show', kifu %></td>
        <td><%= link_to 'Destroy', kifu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kifu', new_kifu_path %>

