<style>
th {
  text-align: left;
}
</style>

<script>
function submit_action() {
  var size = Number($("#goban_size").val());
  var tree = IgoTreeFactory.create(size);
  
  var date = $("#info_infodate_1i").val() + "-" +
             ("0" + $("#info_infodate_2i").val()).slice(-2) + "-" +
             ("0" + $("#info_infodate_3i").val()).slice(-2);

  var propUtil = new PropUtil(tree);

  propUtil.getRootPropNode().setProperties({
    DT: date,
    SZ: size,
    PB: $("#black_player").val(),
    PW: $("#white_player").val(),
  }, false);

  var sgfdata = tree.toSgf();
  $("#sgfdata").val(sgfdata);
}

</script>

<h1>New kifu</h1>

<%= form_tag kifus_path, {method: "post", onsubmit: "return submit_action();"} do %>

<table>

<tr>
<th>棋譜名</th>
<td><%= text_field_tag :title %></td>
</tr>

<tr>
<th>サイズ</th>
<td><%= number_field_tag :goban_size, 19, min: 3, max: 50, size: 4, style: "width: 40px;" %></td>
</tr>

<tr>
<th>対局日</th>
<td><%= date_select :info, :infodate %></td>
</tr>

</table>

<%= hidden_field_tag :sgfdata %>
<%= hidden_field_tag :rid,  @room.id %>
<%= hidden_field_tag :rtok, @room.key%>
<%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', sec_room_path(@room) %>

