<p id="notice"><%= notice %></p>

<meta name='viewport' content='width=800 '/>

<style>
  img.button {
    width: 50px;
    height: 50px;
    margin-left: 8px;
    margin-bottom: 10px;
  }
  div#main_area {
    margin-top: 30px;
    margin-left: 30px;
    padding: 0px;
  }
  div#body_area{
    width: 750px;
    height: 500px;
  }
  div#goban_area {
    width: 500px;
    height: 500px;
    float: left;
  }
  div#subpanel_area {
    width: 250px;
    height: 500px;
    float: right;
  }
  div#info_area {
    width: 240px;
    height: 240px;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
  }
  div#tree_area {
    width: 250px;
    height: 250px;
  }
  div#button_area {
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: clear;
  }
</style>

<script>
  var player = null;
  var option = {
    bgColor:         'rgb(252, 247, 242)',
    blackStoneColor: "black",
    whiteStoneColor: "rgb(210, 210, 210)",
    blackStoneImagePath: "/images/black.png",
    whiteStoneImagePath: "/images/white.png",
    boardImagePath:      "/images/wood.png",
  };
  $(document).ready(function() {
    var tree;

    try {
      tree = IgoTreeFactory.createBySgf(<%= raw @kifu.sgfdata.to_json %>);
    } catch(e) {
      alert(e.message);
      return;
    }

    player = new IgoPlayer(tree);
    var drawer = createDrawer(player, "goban_canvas", "tree_canvas", option);
    drawer.resize(500, 500);

/*
    player.addListener(function() {
      
      var writer = new SgfWriter();
      var sgfdata = writer.writeSgf(player.sgfTree);
      $("#hogearea").val(sgfdata);
    });
*/

    player.updateGoban();

    $('#black_player').val(player.propUtil.getRootPropNode().getProperty("PB"));
    $('#white_player').val(player.propUtil.getRootPropNode().getProperty("PW"));
    $('#black_rank').val(player.propUtil.getRootPropNode().getProperty("BR"));
    $('#white_rank').val(player.propUtil.getRootPropNode().getProperty("WR"));
  });

  function forward_button() {
    player.forward();
  }

  function back_button() {
    player.back();
  }

  function fforward_button() {
    player.forwardN(10);
  }

  function bback_button() {
    player.backN(10);
  }

  function begin_button() {
    player.backToHead();
  }

  function end_button() {
    player.forwardToTail();
  }

  function pass_button() {
    player.pass();
  }

  function cut_button() {
    player.cut();
  }

  function number_button() {
    option.stoneNumber = !option.stoneNumber;
    player.updateGoban();
  }

  function move_button() {
    option.clickType = ClickType.MOVE;
    player.changeStone();
  }

  function black_button() {
    option.clickType = ClickType.BLACK;
  }

  function white_button() {
    option.clickType = ClickType.WHITE;
  }

  function erase_button() {
    option.clickType = ClickType.ERASE;
  }

  function submit_action() {
    if (!player)
      return;

    player.propUtil.getRootPropNode().setProperties({
      PB: $("#black_player").val(),
      PW: $("#white_player").val(),
      BR: $("#black_rank").val(),
      WR: $("#white_rank").val(),
    }, false);

    $("#sgfdata_field").val(player.sgfTree.toSgf());
  }
</script>

<h1><%= @kifu.title %></h1>

<div id=main_area>
<div id=body_area>
<div id=goban_area>
  <canvas id="goban_canvas" width=500px height=500px></canvas>
</div>
<div id=subpanel_area>
<div id=info_area>
    <table>
    <tr>
    <th>Date</th>
    <td><%= date_select :info, :infodate %></td>
    </tr>

    <tr>
    <th>黒番</th>
    <td><%= text_field_tag :black_player %></td>
    </tr>

    <tr>
    <th>白番</th>
    <td><%= text_field_tag :white_player %></td>
    </tr>

    <tr>
    <th>棋力(黒)</th>
    <td><%= select :black_rank, :name, [["1級", "1k"], ["初段", "1d"], ["二段", "2d"], ["三段", "3d"], ["四段", "4d"], ["五段", "5d"], ["六段", "6d"], ["七段", "7d"]]%></td>
    </tr>

    <tr>
    <th>棋力(白)</th>
    <td><%= select :white_rank, :name, [["1級", "1k"], ["初段", "1d"], ["二段", "2d"], ["三段", "3d"], ["四段", "4d"], ["五段", "5d"], ["六段", "6d"], ["七段", "7d"]]%></td>
    </tr>

    <tr>
    <th>コミ</th>
    <td><%= select :handicap, :name, [["6目半", "6.5"], ["なし", ""]]%></td>
    </tr>

    <tr>
    <th>対局結果</th>
    <td><%= text_field_tag :result%></td>
    </tr>
    </table>

    <%= text_area_tag :comment %>
</div>
<div id=tree_area>
    <canvas id="tree_canvas" width=250px height=250px></canvas>
</div>
</div>
</div>
<div id=button_area>
        <img src="/images/btn_begin.png"    class="button" onclick="begin_button();" />
        <img src="/images/btn_bback.png"    class="button" onclick="bback_button();" />
        <img src="/images/btn_back.png"     class="button" onclick="back_button();" />
        <img src="/images/btn_forward.png"  class="button" onclick="forward_button();" />
        <img src="/images/btn_fforward.png" class="button" onclick="fforward_button();" />
        <img src="/images/btn_end.png"      class="button" onclick="end_button();" />
        <img src="/images/btn_pass.png"     class="button" onclick="pass_button();" />
        <img src="/images/btn_cut.png"      class="button" onclick="cut_button();" />
<br />
        <img src="/images/number.png"       class="button" onclick="number_button();" />
        <img src="/images/change.png"       class="button" onclick="move_button();" />
        <img src="/images/ab.png"           class="button" onclick="black_button();" />
        <img src="/images/aw.png"           class="button" onclick="white_button();" />
        <img src="/images/ae.png"           class="button" onclick="erase_button();" />
</div>
</div>

  <%= form_for(@kifu, html: {onsubmit: "return submit_action();"}) do |f| %>
    <% if @kifu.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@kifu.errors.count, "error") %> prohibited this kifu from being saved:</h2>

        <ul>
        <% @kifu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= hidden_field_tag :ktok, @kifu.key %>
    <%= f.hidden_field :sgfdata, id: "sgfdata_field"  %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<%= link_to 'Back', sec_room_path(@kifu.room) %>
