<p id="notice"><%= notice %></p>

<meta name='viewport' content='width=800 '/>

<style>
  img.button {
    width: 70px;
    height: 70px;
    margin-left: 8px;
    margin-bottom: 10px;
  }
  div#main_area {
    margin-top: 30px;
    margin-left: 30px;
    padding: 0px;
  }
  div#body_area{
    width: 750px;
    height: 500px;
  }
  div#goban_area {
    width: 500px;
    height: 500px;
    float: left;
  }
  div#subpanel_area {
    width: 250px;
    height: 500px;
    float: right;
  }
  div#info_area {
    width: 240px;
    height: 240px;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
  }
  div#tree_area {
    width: 250px;
    height: 250px;
  }
  div#button_area {
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: clear;
  }
</style>

<script>
  var rank_list = <%= raw @rank_list.to_json %>;
  var komi_list = <%= raw @komi_list.to_json %>;

  var player = null;
  var option = {
    bgColor:         'rgb(252, 247, 242)',
    blackStoneColor: "black",
    whiteStoneColor: "rgb(210, 210, 210)",
    blackStoneImagePath: "/images/black.png",
    whiteStoneImagePath: "/images/white.png",
    boardImagePath:      "/images/wood.png",
  };
  $(document).ready(function() {
    var tree;

    try {
      tree = IgoTreeFactory.createBySgf(<%= raw @kifu.sgfdata.to_json %>);
    } catch(e) {
      alert(e.message);
      return;
    }

    player = new IgoPlayer(tree);
    var drawer = createDrawer(player, "goban_canvas", "tree_canvas", option);
    drawer.resize(500, 500);


    option.clickType = ClickType.MOVE;
    player.addListener(function() {
      apply_stone_button_image();
      /* $('#testarea2').text(tree.toSgf()); */
    });
    apply_stone_button_image();


    player.updateGoban();

    $('#black_player').val(player.propUtil.getRootPropNode().getProperty("PB"));
    $('#white_player').val(player.propUtil.getRootPropNode().getProperty("PW"));
    $('#black_rank').val(player.propUtil.getRootPropNode().getProperty("BR"));
    $('#white_rank').val(player.propUtil.getRootPropNode().getProperty("WR"));
    $('#komi').val(player.propUtil.getRootPropNode().getProperty("KM"));
    $('#result').val(player.propUtil.getRootPropNode().getProperty("RE"));

    var foo = player.propUtil.getRootPropNode().getProperty("DT");
    if (foo) {
      var bar = foo.match(/(\d\d\d\d)[\-\/](\d\d)[\-\/](\d\d)/);

      if (bar && bar.length == 4) {
        $('#info_infodate_1i').val(Number(bar[1]));
        $('#info_infodate_2i').val(Number(bar[2]));
        $('#info_infodate_3i').val(Number(bar[3]));
      }
    }

  });

  function forward_button() {
    player.forward();
  }

  function back_button() {
    player.back();
  }

  function fforward_button() {
    player.forwardN(10);
  }

  function bback_button() {
    player.backN(10);
  }

  function begin_button() {
    player.backToHead();
  }

  function end_button() {
    player.forwardToTail();
  }

  function pass_button() {
    player.pass();
  }

  function cut_button() {
    player.cut();
  }

  function number_button() {
    option.stoneNumber = !option.stoneNumber;
    player.notify();
  }

  function move_button() {
    option.clickType = ClickType.MOVE;
    player.changeStone();
  }

  function submit_action() {
    if (!player)
      return;

    var date = undefined;
    var y = $('#info_infodate_1i').val();
    var m = $('#info_infodate_2i').val();
    var d = $('#info_infodate_3i').val();
    if (y && m && d) {
      date = y + "-" + ("0" + m).slice(-2) + "-" + ("0" + d).slice(-2);
    }

    player.propUtil.getRootPropNode().setProperties({
      PB: $("#black_player").val(),
      PW: $("#white_player").val(),
      BR: $("#black_rank").val(),
      WR: $("#white_rank").val(),
      KM: $("#komi").val(),
      RE: $("#result").val(),
      DT: date
    }, true);

    $("#sgfdata_field").val(player.sgfTree.toSgf());
  }

  function change_stone_button() {
    switch (option.clickType) {
    case ClickType.MOVE:
      option.clickType = ClickType.BLACK;
      break;
    case ClickType.BLACK:
      option.clickType = ClickType.WHITE;
      break;
    case ClickType.WHITE:
      option.clickType = ClickType.ERASE;
      break;
    case ClickType.ERASE:
    default:
      option.clickType = ClickType.MOVE;
    }
    apply_stone_button_image();
  }

  function apply_stone_button_image() {
    var filename = null;
    switch (option.clickType) {
    case ClickType.MOVE:
      filename = player.rule.getNextStone() == StoneType.BLACK ? "b.png" : "w.png";
      break;
    case ClickType.BLACK:
      filename = "ab.png";
      break;
    case ClickType.WHITE:
      filename = "aw.png";
      break;
    case ClickType.ERASE:
      filename = "ae.png";
      break;
    }

    if (filename)
      $("#stone_button").attr("src", "/images/" + filename);
  }
</script>

<h1><%= @kifu.title %></h1>

<div id=main_area>
<div id=body_area>
<div id=goban_area>
  <canvas id="goban_canvas" width=500px height=500px></canvas>
</div>
<div id=subpanel_area>
<div id=info_area>
    <table>
    <tr>
    <th>Date</th>
    <td><%= date_select :info, :infodate, include_blank: true %></td>
    </tr>

    <tr>
    <th>黒番</th>
    <td><%= text_field_tag :black_player %></td>
    </tr>

    <tr>
    <th>白番</th>
    <td><%= text_field_tag :white_player %></td>
    </tr>

    <tr>
    <th>棋力(黒)</th>
    <td><%= select_tag :black_rank, options_for_select(@rank_list) %></td>
    </tr>

    <tr>
    <th>棋力(白)</th>
    <td><%= select_tag :white_rank, options_for_select(@rank_list) %></td>
    </tr>

    <tr>
    <th>コミ</th>
    <td><%= select_tag :komi, options_for_select(@komi_list) %></td>
    </tr>

    <tr>
    <th>対局結果</th>
    <td><%= text_field_tag :result%></td>
    </tr>
    </table>

    <%= text_area_tag :comment %>
</div>
<div id=tree_area>
    <canvas id="tree_canvas" width=250px height=250px></canvas>
</div>
</div>
</div>
<div id=button_area>
        <img src="/images/btn_begin.png"    class="button" onclick="begin_button();" />
        <img src="/images/btn_bback.png"    class="button" onclick="bback_button();" />
        <img src="/images/btn_back.png"     class="button" onclick="back_button();" />
        <img src="/images/btn_forward.png"  class="button" onclick="forward_button();" />
        <img src="/images/btn_fforward.png" class="button" onclick="fforward_button();" />
        <img src="/images/btn_end.png"      class="button" onclick="end_button();" />
<br />
        <img src="/images/btn_pass.png"     class="button" onclick="pass_button();" />
        <img src="/images/btn_cut.png"      class="button" onclick="cut_button();" />
        <img src="/images/number.png"       class="button" onclick="number_button();" />
        <img src="/images/change.png"       class="button" onclick="move_button();" />
        <img id="stone_button" class="button" onclick="change_stone_button();" />
</div>
</div>

  <%= form_for(@kifu, html: {onsubmit: "return submit_action();"}) do |f| %>
    <% if @kifu.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@kifu.errors.count, "error") %> prohibited this kifu from being saved:</h2>

        <ul>
        <% @kifu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= hidden_field_tag :ktok, @kifu.key %>
    <%= f.hidden_field :sgfdata, id: "sgfdata_field"  %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<div id="testarea1"></div>
<div id="testarea2"></div>

<%= link_to 'Back', sec_room_path(@kifu.room) %>
