<p id="notice"><%= notice %></p>

<style>
  img.button {
    width: 30px;
    height: 30px;
  }
</style>

<script>
  var player = null;
  var option = {
    bgColor:         'rgb(252, 247, 242)',
    blackStoneColor: "black",
    whiteStoneColor: "rgb(210, 210, 210)",
    blackStoneImagePath: "/images/black.png",
    whiteStoneImagePath: "/images/white.png",
    boardImagePath:      "/images/wood.png",
  };
  $(document).ready(function() {
    var tree;

    try {
      tree = IgoTreeFactory.createBySgf(<%= raw @kifu.sgfdata.to_json %>);
    } catch(e) {
      alert(e.message);
      return;
    }

    player = new IgoPlayer(tree);
    var drawer = createDrawer(player, "goban_canvas", "tree_canvas", option);
    drawer.resize(500, 500);

/*
    player.addListener(function() {
      
      var writer = new SgfWriter();
      var sgfdata = writer.writeSgf(player.sgfTree);
      $("#hogearea").val(sgfdata);
    });
*/

    player.updateGoban();
  });

  function forward_button() {
    player.forward();
  }

  function back_button() {
    player.back();
  }

  function fforward_button() {
    player.forwardN(10);
  }

  function bback_button() {
    player.backN(10);
  }

  function begin_button() {
    player.backToHead();
  }

  function end_button() {
    player.forwardToTail();
  }

  function pass_button() {
    player.pass();
  }

  function cut_button() {
    player.cut();
  }

  function number_button() {
    option.stoneNumber = !option.stoneNumber;
    player.updateGoban();
  }

  function move_button() {
    option.clickType = ClickType.MOVE;
    player.changeStone();
  }

  function black_button() {
    option.clickType = ClickType.BLACK;
  }

  function white_button() {
    option.clickType = ClickType.WHITE;
  }

  function erase_button() {
    option.clickType = ClickType.ERASE;
  }

  function submit_action() {
    var sgfdata = player.sgfTree.toSgf();
    $("#sgfdata_field").val(sgfdata);
  }
</script>

<div align="center">
  <canvas id="goban_canvas" width=600px height=600px></canvas>

<canvas id="tree_canvas" width=300px height=450px></canvas>
  <div align="center">
    <img src="/images/btn_begin.png"    class="button" onclick="begin_button();" />
    <img src="/images/btn_bback.png"    class="button" onclick="bback_button();" />
    <img src="/images/btn_back.png"     class="button" onclick="back_button();" />
    <img src="/images/btn_forward.png"  class="button" onclick="forward_button();" />
    <img src="/images/btn_fforward.png" class="button" onclick="fforward_button();" />
    <img src="/images/btn_end.png"      class="button" onclick="end_button();" />
    <img src="/images/btn_pass.png"     class="button" onclick="pass_button();" />
    <img src="/images/btn_cut.png"      class="button" onclick="cut_button();" />
    <img src="/images/number.png"       class="button" onclick="number_button();" />
    <img src="/images/change.png"       class="button" onclick="move_button();" />
    <img src="/images/ab.png"           class="button" onclick="black_button();" />
    <img src="/images/aw.png"           class="button" onclick="white_button();" />
    <img src="/images/ae.png"           class="button" onclick="erase_button();" />
  </div>
</div>


<%= form_for(@kifu, html: {onsubmit: "return submit_action();"}) do |f| %>
  <% if @kifu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kifu.errors.count, "error") %> prohibited this kifu from being saved:</h2>

      <ul>
      <% @kifu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :ktok, @kifu.key %>
  <%= f.hidden_field :sgfdata, id: "sgfdata_field"  %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', sec_room_path(@kifu.room) %>
