<p id="notice"><%= notice %></p>

<meta name='viewport' content='width=800 '/>

<style>

  div#contents_area {
    width: 90%;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  div#goban_area {
    width: 832px;
    border-top:3px solid #258;
    border-left:3px solid #258;
    border-right:3px solid #258;
    border-bottom:3px solid #258;
  }

  div#goban_header {
    width: 832px;
    height: 0px;
    background-color: #a5a5f5;
  }

  div#goban_body {
    float: left;
    width: 500px;
  }

  div#goban_right {
    float: right;
    width: 310px;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    line-height: 180%;
  }

  div#goban_board_area {
    width: 500px;
    height: 500px;
  }

  div#operation_button_area {
    width: 100%;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  div#goban_footer {
    width: 832px;
    display: inline-block;
    border-right:1px solid #258;
    border-top:1px solid #258;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  img.button {
    width: 40px;
    height: 40px;
  }

  div#sgfarea {
    width: 700px;
    height: 50px;
    word-wrap: break-word;
    overflow: auto;
  }

input[type="text"], input[type="number"], textarea, select {
        outline: none;
        border: 1px solid #aaa;
}

</style>

<script>
  var player = null;
  var option = {
    bgColor:         'rgb(252, 247, 242)',
    blackStoneColor: "black",
    whiteStoneColor: "rgb(210, 210, 210)",
    blackStoneImagePath: "/images/black.png",
    whiteStoneImagePath: "/images/white.png",
    boardImagePath:      "/images/wood.png",
  };

  var key_prop_pairs = [
    ['black_player', "PB"],
    ['white_player', "PW"],
    ['black_rank', "BR"],
    ['white_rank', "WR"],
    ['komi', "KM"],
    ['result', "RE"]
  ];

  function apply_comment(player) {
    var c = player.sgfTree.current.getProperty("C");
    $('#comment').val(c ? c : "");
  }

  function apply_sgf(player) {
    $('#sgfarea').text(player.sgfTree.toSgf());
  }

  function apply_props(player) {
    for (var i = 0; i < key_prop_pairs.length; i++) {
      var a = key_prop_pairs[i];
      $('#' + a[0]).val(player.sgfTree.getRoot().getProperty(a[1]));
    }
  }

  function apply_date(player) {
    var dt = player.sgfTree.getRoot().getProperty("DT");
    if (dt) {
      var m = dt.match(/(\d\d\d\d)[\-\/](\d\d)[\-\/](\d\d)/);

      if (m && m.length == 4) {
        $('#info_infodate_1i').val(Number(m[1]));
        $('#info_infodate_2i').val(Number(m[2]));
        $('#info_infodate_3i').val(Number(m[3]));
      }
    }
  }

  function scroll_down(id) {
    var obj = document.getElementById(id);
    if(obj)
      obj.scrollTop = obj.scrollHeight;
  }

  function get_date() {
    var date = undefined;
    var y = $('#info_infodate_1i').val();
    var m = $('#info_infodate_2i').val();
    var d = $('#info_infodate_3i').val();
    if (y && m && d) {
      date = y + "-" + ("0" + m).slice(-2) + "-" + ("0" + d).slice(-2);
    }
    return date;
  }

  $(document).ready(function() {
    var tree;

    try {
      tree = IgoTreeFactory.createBySgf(<%= raw @kifu.sgfdata.to_json %>);
    } catch(e) {
      alert(e.message);
      return;
    }

    player = new IgoPlayer(tree);

    var drawer = createDrawer(player, "goban_canvas", "tree_canvas", option);
    drawer.resize(500, 500);

    option.clickType = ClickType.MOVE;
    player.addListener(function() {
      apply_stone_button_image();
      apply_comment(player);
      apply_sgf(player);
      scroll_down('sgfarea');
    });
    apply_stone_button_image();
    player.updateGoban();
    apply_props(player);
    apply_date(player);

    $('#comment').bind('input', function() {
      var c = $('#comment').val();
      if (c)
        tree.current.setProperty("C", c);
      else
        tree.current.removeProperty("C");
      player.notify();
    });
  });

  function number_button() {
    option.stoneNumber = !option.stoneNumber;
    player.notify();
  }

  function move_button() {
    option.clickType = ClickType.MOVE;
    player.changeStone();
  }

  function submit_action() {
    if (!player)
      return;

    for (var i = 0; i < key_prop_pairs.length; i++) {
      var a = key_prop_pairs[i];
      var val = $('#' + a[0]).val();
      if (val !== undefined)
        player.sgfTree.getRoot().setProperty(a[1], val);
    }
    player.sgfTree.getRoot().setProperty("DT", get_date());

    $("#sgfdata_field").val(player.sgfTree.toSgf());
  }

  function change_stone_button() {
    switch (option.clickType) {
    case ClickType.MOVE:
      option.clickType = ClickType.BLACK;
      break;
    case ClickType.BLACK:
      option.clickType = ClickType.WHITE;
      break;
    case ClickType.WHITE:
      option.clickType = ClickType.ERASE;
      break;
    case ClickType.ERASE:
    default:
      option.clickType = ClickType.MOVE;
    }
    apply_stone_button_image();
  }

  function apply_stone_button_image() {
    var filename = null;
    switch (option.clickType) {
    case ClickType.MOVE:
      filename = player.rule.getNextStone() == StoneType.BLACK ? "b.png" : "w.png";
      break;
    case ClickType.BLACK:
      filename = "ab.png";
      break;
    case ClickType.WHITE:
      filename = "aw.png";
      break;
    case ClickType.ERASE:
      filename = "ae.png";
      break;
    }

    if (filename)
      $("#stone_button").attr("src", "/images/" + filename);
  }
</script>


<div id=contents_area>

 <%= link_to '戻る', sec_room_path(@kifu.room) %>

 <div id=goban_area>

  <div id=goban_header>
  </div>

  <div id=goban_body>

    <div id=goban_board_area>
      <canvas id="goban_canvas" width=500px height=500px></canvas>
    </div>

    <div id=operation_button_area>
      <img src="/images/btn_begin.png"    class="button" onclick="player.backToHead();" />
      <img src="/images/btn_bback.png"    class="button" onclick="player.backN(10);" />
      <img src="/images/btn_back.png"     class="button" onclick="player.back();" />
      <img src="/images/btn_forward.png"  class="button" onclick="player.forward();" />
      <img src="/images/btn_fforward.png" class="button" onclick="player.forwardN(10);" />
      <img src="/images/btn_end.png"      class="button" onclick="player.forwardToTail();" />
      <img src="/images/btn_pass.png"     class="button" onclick="player.pass();" />
      <img src="/images/btn_cut.png"      class="button" onclick="player.cut();" />
      <img src="/images/number.png"       class="button" onclick="number_button();" />
      <img src="/images/change.png"       class="button" onclick="move_button();" />
      <img id="stone_button" class="button" onclick="change_stone_button();" />
    </div>

  </div>

  <div id=goban_right>
    <table>
    <tr>
    <th>対局日</th>
    <td><%= date_select :info, :infodate, include_blank: true %></td>
    </tr>

    <tr>
    <th>黒番</th>
    <td><%= text_field_tag :black_player, '', style: "width: 218px;" %></td>
    </tr>

    <tr>
    <th>白番</th>
    <td><%= text_field_tag :white_player, '', style: "width: 218px;" %></td>
    </tr>

    <tr>
    <th>棋力(黒)</th>
    <td><%= select_tag :black_rank, options_for_select(@rank_list) %></td>
    </tr>

    <tr>
    <th>棋力(白)</th>
    <td><%= select_tag :white_rank, options_for_select(@rank_list) %></td>
    </tr>

    <tr>
    <th>コミ</th>
    <td><%= number_field_tag :komi, 6.5, size: 3, step: 0.5, style: "width: 50px" %></td>
    </tr>

    <tr>
    <th>対局結果</th>
    <td><%= text_field_tag :result, '', style: "width: 218px;" %></td>
    </tr>
    </table>

    <%= text_area_tag :comment, '', size: "33x3" %>
    <br />
    <br />
    <canvas id="tree_canvas" width=285px height=235px></canvas>
  </div>

  <div id=goban_footer>
    <div id="sgfarea"></div>
  </div>

  <br />
  </div>

  <%= form_for(@kifu, html: {onsubmit: "return submit_action();"}) do |f| %>
    <%= hidden_field_tag :ktok, @kifu.key %>
    <%= f.hidden_field :sgfdata, id: "sgfdata_field"  %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

</div>


